.for-writers{
    display: inline-block;
    width : 100vw;
    padding : 3vw;
    margin-top : 20px;
}
.for-writers h2{
    font-family: "Cormorant Garamond", serif;
    font-size: 4vw;
}
.for-writers p{
    font-size : 1.7vw;
    padding-top: 1vw;
    margin-top: 1vw;
    padding-right : 1vw;
}

.for-writers > h2::after{
    display: block;
    content : "Hej, a może chcesz napisać tekst?";
    overflow-x: visible;
    opacity : 0.15;
    position: absolute;
    transform: translate(4%, -140%);
    font-size : 1.2em;
}

.for-writers::before {
    content: '';
    position: absolute;
    display: block;
    border-top: #00776C 3px solid;
    width: 80%;
    right: 0;
    height: 5vw;
    transform: translateY(-100%);
}

strong{
    font-weight: bold;
}

/*Rules*/
.rules{
    display: flex;
}

@media screen and (max-width: 960px), screen and (max-aspect-ratio: 4/3){
    .for-writers h2{
        font-size : 10vw;
    }
    .for-writers p{
        font-size: 4vw;
        margin-top: 3vw;
    }
}