.for-writers{
    position: relative;
    display: inline-block;
    width : 100vw;
    padding : 7vw 5vw;
}

.for-writers-header::after{
    display: block;
    content : "Hej, a może chcesz napisać tekst?";
    overflow-x: visible;
    position: absolute;
    transform: translate(4%, -140%);
    font-size : 1.2em;
}

/* Rules */
.for-writers .rule-number{
    color: #00776C;
    font-size: 2.2em;
    align-items: center;
}
.for-writers .rule-title{
    font-size: 1.4em;
    font-weight: bold;
}
.for-writers .rule-title::after{
    content: "";
    display: block;
    position: relative;
    border-bottom: #00776C 6px solid;
    width: 0;
    left : 1px;
    height : 3px;
    margin : 5px 0;
}