.for-writers{
    position: relative;
    display: inline-block;
    width : 100vw;
    padding : 7vw 5vw;
}
.for-writers h2{
    font-family: "Cormorant Garamond", serif;
    font-size: 4vw;
}
.for-writers p{
    font-size : 1.7vw;
    padding-top: 1vw;
    margin-top: 1vw;
    padding-right : 1vw;
}
strong{
    font-weight: bold;
}

.for-writers::before {
    content: '';
    position: absolute;
    display: block;
    border-top: #00776C 3px solid;
    width: 80%;
    right: 0;
    top: 0;
    height: 5vw;
}
.for-writers-header::after{
    display: block;
    content : "Hej, a może chcesz napisać tekst?";
    overflow-x: visible;
    opacity : 0.15;
    position: absolute;
    transform: translate(4%, -140%);
    font-size : 1.2em;
}

/* Rules */
.for-writers-rules{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top : 5vw;
}
.for-writers-rule{
    max-width : 33%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr;
    font-size : 1.4rem;
    margin : 1vw 0;
}
.for-writers-rule-number{
    grid-row : 1 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    place-items: center;
    font-size: 2.2em;
}
.for-writers-rule-title{
    grid-row : 1 / 2;
    grid-column: 2 / 3;
    font-size: 1.4em;
    margin : 5px 0;
    font-weight: bold;
}
.for-writers-rule-title::after{
    content: "";
    display: block;
    position: relative;
    border-bottom: #00776C 6px solid;
    width : 25%;
    left : 1px;
    height : 3px;
    margin : 5px 0;
}
.for-writers-rule-content{
    grid-row : 2 / 3;
    grid-column: 2 / 3;
}

@media screen and (max-width: 889px){
    
}

@media screen and (max-width: 960px), screen and (max-aspect-ratio: 4/3){
    
}