.main-header-image {
  display: none;
}

.main-header-content {
  width: 100%;
}

.main-header-content h1 {
  font-size: 14vw;
}

.main-header-content h2 {
  font-size: 3vw;
}

.btn-a {
  margin-top: 6vw;
}

.centered a span {
  font-size: 2.5vw;
  letter-spacing: 1.3vw;
}

.centered div > span {
  font-size: 3vw;
  margin-top: 5vw;
}

.main-header {
  justify-content: flex-start;
}

@media screen and (max-aspect-ratio: 7/8) {
  .main-header {
    height: 50vh;
  }
}
