.main-header {
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}

.main-header-content {
	height: 100%;
	width: calc(100vw - 71vh);
	min-width: 55vw;
	padding: 3vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-header-image {
	height: 100%;
	width: 71vh;
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	perspective: 1000px;
}
.main-header-image img {
	height: 85%;
	margin: 10%;
	box-shadow: rgb(73, 73, 73) 1px 1px 10px, rgb(73, 73, 73) 1px 1px 1px, rgb(255, 255, 255) 2px 2px, rgb(73, 73, 73) 3px 3px 1px, rgb(255, 255, 255) 4px 4px, rgb(73, 73, 73) 5px 5px 1px;
	transform: rotateY(-15deg);
	transition: all 1s;
}
.main-header-image img:hover {
	transform: scale(1.1) rotateY(-5deg);
	box-shadow: rgb(73, 73, 73) 1px 1px 10px, rgb(73, 73, 73) 1px 1px 1px, rgb(255, 255, 255) 2px 2px, rgb(73, 73, 73) 3px 3px 1px, rgb(255, 255, 255) 4px 4px, rgb(73, 73, 73) 5px 5px 1px;
	transition: all 1s;
}

.centered {
	width: max-content;
	position: relative;
}
.centered::before {
	content: '';
	display: block;
	width: 30%;
	height: 3px;
	background-color: #00776C;
	margin-bottom: 5vw;
}

.stats{
	margin-top: 1vw;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 1.5vw;
}

.stats-element {
	margin-left: 2vw;
}

.stats-number {
	font-weight: bold;
}

.btn-a {
	display: block;
	background-color: #00776C;
	position: relative;
	text-decoration: none;
	width: 100%;
	aspect-ratio: 8/1;
	margin-top: 3vw;
}
.btn-a::before {
	content: '';
	background-color: #fff;
	display: block;
	position: absolute;
	height: 100%;
	opacity: .1;
	width: 0;
	transition: width .5s
}
.btn-a:hover::before {
	width: 100%;
}
.btn-a span {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100%;
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 1.3vw;
	letter-spacing: .3vw;
}