@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&display=swap');

html{
    scroll-behavior: smooth;
}
body {
  font-family: 'EB Garamond', serif;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #089487 #fff;
  position: relative;
}

/* Content types and tags */
h1{
    font-size: 7vw;
	letter-spacing: 1vw;
	text-transform: uppercase;
	font-weight: lighter;
	font-family: "Cormorant Garamond", serif;
}
h2{
    font-size: 4vw;
    font-family: "Cormorant Garamond", serif;
}
h3{
    font-size: 1.5vw;
}
p{
    font-size: 1.9vw;
    margin-bottom: 7vw;
    margin-top: 1vw;
}
a, a:active, a:visited, a:link{
    color: #00776C;
}
/* Buttons */
.button {
	display: block;
	background-color: #00776C;
	position: relative;
	text-decoration: none;
	width: 100%;
	aspect-ratio: 8/1;
	margin-top: 3vw;
}
.button::before {
	content: '';
	background-color: #fff;
	display: block;
	position: absolute;
	height: 100%;
	opacity: .1;
	width: 0;
	transition: width .5s
}
.button:hover::before {
	width: 100%;
}
.button span {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100%;
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 1.3vw;
	letter-spacing: .3vw;
}

section{
    position: relative;
    width: 100%;
    padding : 7vw 5vw;
}

/* Lines between sections */
section:not(:last-child)::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    border-top: #00776C 3px solid;
    width: 80%;
    height: 5vw;
}
section:nth-child(even)::after{
    left: 0;
}
section:nth-child(odd)::after{
    right: 0;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #089487;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #00776C;
}
::selection, ::-moz-selection{
  background-color : #089487;
  color : white;
}
